.invite-user-form {
    max-width: 800px;
    min-width: 500px;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.invite-user-form h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.invite-user-form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.invite-user-form select
 {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.invite-user-form input {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.invite-user-form .add-another-btn {
    display: inline-block;
    margin-top: 15px;
    color: #0066ff;
    font-weight: bold;
    cursor: pointer;
}

.invite-user-form .info-message {
    background-color: #ffecb3;
    color: #856404;
    padding: 10px;
    border-radius: 4px;
    margin-top: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.invite-user-form .info-message .icon-info {
    margin-right: 8px;
    font-size: 18px;
}

.invite-user-form .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.invite-user-form .cancel-btn,
.invite-user-form .send-invitation-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}


.invite-user-form .cancel-btn {
    background-color: #ccc;
}
.invite-user-form .cancel-btn:hover{
    background-color: #807e7e;
}

.invite-user-form .send-invitation-btn {
    background-color: #22786f;
    color: #fff;
    
}
.invite-user-form .send-invitation-btn:hover {
    background-color: #12635c;  
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #f44336;
}

.close-btn:hover {
    color: #d32f2f;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

