.profile-page {
    padding: 20px;
    margin-top: 60px; /* Correspond à la hauteur de la HorizontalNavbar */
    width: 100%;
    box-sizing: border-box;
  }
  
  .profile-page h1 {
    margin-bottom: 20px;
    color: #2c3e50;
  }
  
  .profile-info {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
  }
  
  .profile-field {
    display: flex;
    margin-bottom: 10px;
  }
  
  .field-label {
    width: 150px;
    font-weight: bold;
    color: #34495e;
  }
  
  .field-value {
    flex: 1;
    color: #2c3e50;
  }
  